[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tailwind = "*"

[dev-packages]
psycopg2 = "*"

[requires]
python_version = "3.10"

[scripts]
start = "python Crud/manage.py runserver"
migrate = "python Crud/manage.py migrate"
makemigration = "python Crud/manage.py makemigration"
test = "coverage run Crud/manage.py test"
test-espesific = "coverage run Crud/manage.py --omit='*/venv/*'"
